#pr-detail {
    padding-top: 30vh;
    padding-bottom: 30vh;
    background: linear-gradient(-180deg, #e0e0e6, #757b7e ) 
    fixed;
}




/*プライバシーのデザインcss↓*/
.con_pri {
    max-width: 70%;
    margin-left: 10%;
}
@media only screen and (max-width: 768px) {
    .con_pri {
        width: 75%;
    }
}
.con_pri .box_pri {
    /*height: 300px;
    overflow-y: scroll;*/
    border: 1px solid #000000;
    border-radius: 10px;
    background: #f7f7f7;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 20px 40px;
}
@media only screen and (max-width: 768px) {
    .con_pri .box_pri {
        margin-top: 4%;
        padding: 3%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .con_pri .box_pri {
        padding: 4%;
    }
}
.con_pri .box_pri .box_tori {
    text-align: left;
    margin-top: 40px;
}
@media only screen and (max-width: 768px) {
    .con_pri .box_pri .box_tori {
        margin-top: 4%;
    }
}
.con_pri .box_pri .box_tori h4 {
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 150%;
    font-weight: 600;
}
@media only screen and (max-width: 768px) {
    .con_pri .box_pri .box_tori h4 {
        margin-bottom: 4%;
    }
}
.con_pri .box_pri .box_tori .txt {
    padding: 0 20px;
}
@media only screen and (max-width: 768px) {
    .con_pri .box_pri .box_tori .txt {
        padding: 0;
    }
}
.con_pri .box_pri .box_num {
    margin-top: 30px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
    .con_pri .box_pri .box_num {
        margin-top: 5%;
    }
}
.con_pri .box_pri .box_num h4 {
    font-weight: normal;
    font-size: 113%;
    font-weight: 600;
}
.con_pri .box_pri .box_num .txt {
    padding: 10px 0 0 20px;
}
@media only screen and (max-width: 768px) {
    .con_pri .box_pri .box_num .txt {
        padding: 3% 0 0 3%;
    }
}

.box_check {
    margin-left: 12%;
    padding-top: 20px;
    padding-bottom: 50px;
}
.box_check label {
    display: inline-block;
}
.box_check label span {
    margin-left: .3em;
}
