/*----リセットCSS----*/
*{
    margin: 0;
    padding: 0;
}


/*----調整用スタイル----*/
a {
    text-decoration: none; /*--aタグのアンダーラインを非表示--*/
}

ul,
li {
    list-style: none;
}



#header {
    background-color: red;
    width: 100vw;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#container-upper {
    background-color: #9999ff;
    width: 100vw;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*height: inherit; /*親要素の高さを継承*/
    position: relative;
}


#header-title {
    width: 80px;
}

#header-title img {
    display: block;
    width: 60%;
    height: 60%;
}



#container-upper-support {
    background-color: #c6c6ff;
    width: 100vw;
    height: 6px;
}