/*----リセットCSS----*/
*{
    margin: 0;
    padding: 0;
}


/*----調整用スタイル----*/

/*--aタグのアンダーラインを非表示--*/
a {
    text-decoration: none;
}


ul,
li {
    list-style: none;
}



#header {
    background-color: red;
    width: 100vw;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}




#container-upper {
    background-color: #9999ff;
    width: 100vw;
    height: 60px;
}

#container-upper-support {
    background-color: #c6c6ff;
    width: 100vw;
    height: 5px;
}